fastapi==0.115.11
geopandas==1.0.1
joblib==1.4.2
keras==3.9.0
matplotlib==3.10.1
numpy==1.24.2
pandas==2.2.3
PyKrige==1.7.2
pyproj==3.7.1
pytz==2025.1
Requests==2.32.3
Shapely==2.0.7
uvicorn
tensorflow
scikit-learn